body {
    font-family: sans-serif;
    text-align: center;
    margin: 0.5em;
}

.hidden {
    visibility: hidden;
    display: none;
}

input {
    border: none;
    border-bottom: .1em solid #333;
}

button {
    margin: 0.1em 2em;
    width: 13em;
    border: 0.1em solid #333;
    cursor: pointer;
    padding: 0.7em 1.4em;
    background-color: #333;
    color: #fff;
    letter-spacing: .1em;
}

button:hover {
    background-color: #ddd;
    color: black;
}

button:last-of-type:hover {
    background-color: #4CAF50;
    color: white;
}


/* aria-label */
[aria-label] {
    position: relative;
}

[aria-label]:hover:after,
[aria-label]:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -3.8em;
  left: 50%;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 1em 2em;
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
}

[aria-label]:hover:before,
[aria-label]:focus:before {
    content: "▼";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    font-size: 1.1em;
    color: #333;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
    outline: none;
}


/* navigation menu */
nav {
    background-color: #333;
    overflow: hidden;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav a {
    display: block;
    color: #f2f2f2;
    padding: 0.7em 0.9em;
    text-decoration: none;
    font-size: 1.1em;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
nav .active {
    background-color: #4CAF50;
    color: white;
}

header>p {
    width: 40%;
    margin: 0 auto;
}

header p.alert {
    background-color: #FF4C50;
    color: black;
}

header p.info {
    background-color: #7C80DF;
    color: white;
}

main {
    margin: 5em auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: inline-block;
}

table tr > :nth-child(3) {
    width: 30%;
}

table tr > :nth-child(4) {
    width: 70%;
}

table td, table th {
    border: 0.1em solid #333;
}

table th {
    padding: 1em 2em;
    color: white;
    background-color: #4CAF50;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:hover {
    background-color: #ddd;
}


main > form {
    margin: 2em auto;
    padding: 1.6em;
    border-radius: 0.5em;
    background-color: #eee;
    max-width: 50em;
}

main > form > div {
    margin: 0.2em;
}

main > form > div:after {
    display: table;
    content: "";
    clear: both;
}

main > form > div > label {
    margin: 0;
    padding: 0;
    width: 23%;
    float: left;
    display: block;
    text-align: left
}

main > form > div > :not(label), main > form > div > span > select {
    float: right;
    width: 73%;
    margin: 0;
    padding: .3em 0;
    display: block;
}

#groupButtons > button {
    width: 3em;
    margin: 0;
    padding: 0;
}

main > form > div > button {
    float: right;
    width: 13em;
    margin: 0 1em;
}

@media screen and (max-width: 45em) {
    main > form > div > * {
        width: 100%!important;
        margin-top: 0;
    }
}


footer {
    margin: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #333;
    border-bottom: .5em solid white;
    margin-bottom: 0;
}

footer > section {
    display: inline-block;
    background-color: #ddd;
    margin: -1em 0.4em 0 0.4em;
    border-radius: .2em .2em 0 0;
    padding: 0 1em;
}

.good {
    background-color: #4CAF50;
}
.bad {
    background-color: #AF4C50;
}

footer > section > summary {
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

footer > section > p {
    margin: 0.5em 0;
}

footer > section > p::after {
    content: '€';
}
